* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

#rasmus-f1-bg {
    background-image: url(../assets/fase1-r-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#rasmus-f2-bg {
    background-image: url(../assets/fase2-r-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#rasmus-f3-bg {
    background-image: url(../assets/fase3-r-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#simone-f1-bg {
    background-image: url(../assets/fase1-s-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#simone-f2-bg {
    background-image: url(../assets/fase2-s-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#simone-f3-bg {
    background-image: url(../assets/fase3-s-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.texto {
    margin-top: 2%;
    margin-bottom: 1%;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 8px #3f3d3d;
}

.texto p {
    margin-bottom: 1%;
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opcoes p {
    width: 48%;
    margin-top: 0.5%;
    margin-bottom: 1.5%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 8px #3f3d3d;
}

.opcoes p:hover {
    box-shadow: 0 4px 8px 0 #3B3C42, 0 6px 20px 0 #3E4B5A; 
}

.botao {
    text-align: center;
}

button {
    border-radius: 8px;
    border: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3E4B5A;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: padding 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;

}